@import "tailwindcss";

@keyframes bounce-in {
    0% {
        transform: translate(-50%, -100%) scale(0.9);
        opacity: 0;
    }

    70% {
        transform: translate(-50%, 20%) scale(1.05);
    }

    100% {
        transform: translate(-50%, 0) scale(1);
        opacity: 1;
    }
}

.animate-bounce-in {
    animation: bounce-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}